
<div class="max-w-7xl mx-auto mt-12 p-6">
  <app-image-picker (fileUploaded)="onUpload($event)" class="block mb-6 w-full h-[200px]">
  </app-image-picker>

  <section class="mt-6 border border-gray-200 rounded-md content p-6">
    <div class="w-full h-full overflow-auto">
      <table
        *ngIf="currentUser?.media?.length"
        class="w-full">
        <thead class="border-b border-gray-200">
        <tr class="text-sm text-[#999CA0] font-bold text-left">
          <th class="px-2 py-3">id</th>
          <th class="px-2 py-3">Name</th>
          <th class="px-2 py-3">Author</th>
          <th class="px-2 py-3">Creation date</th>
          <th class="px-2 py-3">Size</th>
          <th class="text-right px-2 py-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let row of currentUser?.media"
          class="hover:bg-gray-50 cursor-pointer">
          <td class="p-2">
            {{row.id}}
          </td>
          <td class="max-w-[264px]">{{row.path}}</td>
          <td>{{currentUser?.first_name}} {{currentUser?.last_name}}</td>
          <td>{{row.uploaded | date : 'dd MMM yyyy'}}</td>
          <td>{{row.size}}</td>
          <td>
            <div class="flex gap-2 justify-end">
              <button (click)="downloadURI(row)" class="h-9 w-9 border border-gray-200 grid rounded-md place-content-center">
                <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="12" r="3" fill="#333"/><circle cx="24" cy="24" r="3" fill="#333"/><circle cx="24" cy="35" r="3" fill="#333"/></svg>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
